        /* Footer universal */
#footer {
    font-size: 25px;
}
        /* Navegacion universal */
.ul_navli {
    font-size: 18px;
    font-family: $boogaloo;
}
        /* INDEX STYLES */
        /* Layout */
.li {
    font-size: 40px;
    font-family: $bungee;
}
        /* Descripcion (centro derecha) */
.descripcion_p {
    font-size: 35px;
    font-family: $boogaloo;
}
        /* Navegacion (botones) */
.liButtom {
    font-size: 30px;
    font-family: $boogaloo;
}
        /* Sinopsis contenido */
.div_sinopsis {
    font-family: 'Indie Flower', cursive;
}

.sinopsisTitulo {
    font-size: 55px;
}
        /* PERSONAJES STYLES */
        /* Layout */
        /* Titulo Seccion Personajes */
.titulo {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 40px;
}
        /* Descripciones */
.descDenji {
    font-family: $grape-nuts;
    font-size: 25px;
}

.descPower {
    font-family: $grape-nuts;
    font-size: 25px;
}

.descAki {
    font-family: $grape-nuts;
    font-size: 25px;
}
        /* CONTACTO STYLES */
        /* Layout */
.tituloContacto {
    font-size: 25px;
    font-family: $bungee;
}

.formulario_legend {
    font-family: 'Red Hat Mono', monospace;
}